$border: 1px solid rgba(0, 0, 0, 0.7);
$border-radius: 4px;

.max-width {
  max-width: 300px;
  margin: 0 auto;
}

.colour-picker {
  @extend .max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.saturation-picker {
  height: 200px;
  width: 200px;
  margin-right: 16px;
}

.saturation-picker__canvas {
  border: $border;
  border-radius: $border-radius;
}

.hue-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hue-slider__canvas {
  border: $border;
  border-radius: $border-radius;
}

.hue-slider__control {
  height: 200px;
  width: 20px;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  transform: rotate(180deg);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
}

.hex-value {
  @extend .max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.hex-value__label {
  margin-right: 8px;
}

.hex-value__input {
  flex-grow: 1;
  height: 44px;
  border: $border;
  border-radius: $border-radius;
  background: #fff;
  color: #000;
  text-align: center;
}
