.colour-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.saturation-picker__canvas {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.hue-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hue-slider__canvas {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.hue-slider__control {
  height: 200px;
  width: 20px;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  transform: rotate(180deg);
  padding: 0;
  margin: 0;
}
